/* name for tag 
. for class
# for id 
::after pseudo tag 
:hover pseudo class */

/* light #C8D2D8
dark #262626
accent #3C533B */

/* font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Subrayada', sans-serif; */

#nav-bar {
  display: flex;
  background-color: #262626;
  color: #C8D2D8;
  /* justify-content: space-around; */
  /* vertical-align: top; */
  align-items: center;
  width: 100%;
  min-height: 50px;
  font-size: 1.5em;
}

#footer {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

#about-me{ 
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
}

#about-me-container {
  display: flex;
}

#education-experience {
  margin-right: 10%;
  margin-left: 10%;
}

#projects {
  margin-left: 10%;
  margin-right: 10%;
}

#experience-title {
  margin-top: 20px;
}

#contact-form {
  display: flex;
  flex-direction: column;
}

#contact-me {
  margin-left: 10%;
  margin-right: 10%;
}

.footer-image {
  height: 35px;
  margin-right: 5px;
  margin-left: 5px;
}

.contact-me-container {
  display: flex;
  flex-direction: column;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.head-shot {
  height: 200px;
  width: 200px;
  margin: 7%;
}

.nav-item:hover {
  font-weight: 700;
  color: #C8D2D8;
}

.school-image {
  height: 150px;
  width: 150px;
  margin: 50px;
}

.single-education {
  display: flex;
}

.section-header {
  margin-top: 20px;
}

* {
  background-color: #C8D2D8;
}
.nav-item-container {
  display: flex;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
  color: #C8D2D8;
  background-color: #262626;
}

.nav-item {
  color: #C8D2D8;
  padding: 0px 10px 0px 10px;
}

h1 {
  font-family: 'Montserrat Subrayada', sans-serif;
}
.description {
  color: #262626;
}

.title {
  font-family: 'Montserrat Subrayada', sans-serif;
  color: #262626;
}

.project {
  /* border: thick double #262626; */
  display: flex;
  flex-direction: column;
}

.double-border {
  border: thick double #262626;
}

.github-image {
  height: 35px;
  width: 35px;
}

.left-align {
}

.right-align {
  text-align: right;
}

.title {
  font-family: 'Montserrat Subrayada', sans-serif;
}

.post-contact-text {
  text-align: center;
  margin-top: 15px;
}

textarea {
  background-color: white;
}
input {
  background-color: white;
}
button {
  background-color: silver;
}
/* 

button {
  background-color: #3C533B;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #C8D2D8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #262626;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
