/* name for tag 
. for class
# for id 
::after pseudo tag 
:hover pseudo class */

/* original color palate
light #F9F7F0
dark #262626
accent #3C533B */

/* font-family: 'Work Sans', sans-serif;
font-family: 'Work Sans', sans-serif; */

/* NEW FONT 
font-family: 'Work Sans', sans-serif; */

/* color palate
dark #002B44
light #F9F7F0
accent #8D3F5C */

* {
  font-family: 'Work Sans', sans-serif;
  background-color: #F9F7F0;
}

#nav-bar {
  display: flex;
  flex-direction: column;
  background-color: #002B44;
  color: #F9F7F0;
  /* justify-content: space-around; */
  /* vertical-align: top; */
  align-items: center;
  width: 100%;
  min-height: 50px;
  font-size: 1.5em;
}

#projects-container {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#banner-name {
  background-color: #002B44;
  font-family: 'Work Sans', sans-serif;
}
#banner {
  background-color: #002B44;
}

#footer {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 1%;
}

#about-me{ 
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
}

#about-me-container {
  display: flex;
  /* margin-left: 10%; */
  padding-left: 0%;
}

#education {
  margin-right: 10%;
  margin-left: 10%;
}

#experience {
  margin-left: 10%;
  margin-right: 10%;
}

#projects {
  margin-left: 10%;
  margin-right: 10%;
}

#experience-title {
  margin-top: 20px;
}

#contact-form {
  display: flex;
  flex-direction: column;
}

#contact-me {
  margin-left: 10%;
  margin-right: 10%;
}

#skill-list-container {
  display: flex;
  flex-direction: column;
}

#logo {
  background-color: #002B44;
  max-width: 95%;;
}

.single-skill-container {
  display: flex;
  flex-wrap: wrap;
}

.container {
  padding-left: 0px;
}

.footer-image {
  height: 35px;
  margin-right: 5px;
  margin-left: 5px;
}

.role {
  font-family: 'Work Sans', 'sans-serif';
}

.contact-me-container {
  display: flex;
  flex-direction: column;
}


.about-me-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.email-link {
  color: #004972;
}

.email-link:hover {
  color: #8D3F5C;
}

.head-shot {
  height: 20%;
  width: 20%;
  margin: 7%;
  max-width: 200px;
  max-height: 200px;
}

.nav-item:hover {
  font-weight: 700;
  color: #F9F7F0;
}

a:hover {
  color: #8D3F5C;
}

.school-image {
  height: 15%;
  width: 15%;
  margin: 50px 50px 50px 0px;
}

.single-education {
  display: flex;
  margin-bottom: 1%;
}

.degree-grad-container {
  display: flex;
  flex-direction: column;
}

.degree {
  font-weight: 700;
  margin-bottom: 0px;
}

.experience-single {
  margin-bottom: 1%;
}

.subjects {
  font-weight: 700;
}
/* .subjects-container {
  margin-right: 10px;
} */

/* .grad-date {
  margin-right: 10px;
} */

.section-header {
  margin-top: 20px;
}

.nav-item-container {
  display: flex;
  justify-content: space-around;
  font-family: 'Work Sans', sans-serif;
  color: #F9F7F0;
  background-color: #002B44;
  max-width: 95%;
  flex-wrap: wrap;
}

.nav-item {
  color: #F9F7F0;
  padding: 0px 10px 0px 10px;
}

h1 {
  font-family: 'Work Sans', sans-serif;
}
.description {
  color: #262626;
  margin-top: 1em;
}

.title {
  font-family: 'Work Sans', sans-serif;
  color: #262626;
  margin-bottom: 0px;
}

.project {
  /* border: thick double #002B44; */
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
}

.project-image {
  max-height: 20%;
  max-width: 60%;
  border: 1px solid #002B44;
}

.project-link-container {
  display: flex;
  flex-direction: row;
}

.double-border {
  border: thick double #8D3F5C;
  padding-left: 5%;
  padding-right: 5%;
}

.single-skill {
  /* border: 1px solid #8D3F5C; */
  padding: 2px 5px 2px 5px;
  margin: 5px 5px 5px 5px;
  border-radius: 10px;
  background-color: #002B44;
  color: #F9F7F0;
  font-family: 'Work Sans', sans-serif;
}

.skill-level {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

.harry-text {
  color: #004972;
}

.harry-text:hover {
  color: #8D3F5C;
  text-decoration: underline;
}

.github-image {
  height: 35px;
  width: 35px;
  margin-right: 5px;
}

.github-link {
  color: #262626;
  font-family: 'Work Sans', sans-serif;
  padding-left: 5px;
  font-weight: 700;
}

.link-button {
  border: solid 1px #262626;
  margin-bottom: 5px;
  margin-top: 3px;
  margin-right: 5px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #8D3F5C;
  /* color: #262626; */
}

/* .education-container {
  margin-left: 10%;
} */

/* .experience-container {
  margin-left: 10%;
} */
/* .right-align {
  text-align: right;
  list-style-position: inside;
} */

.title {
  font-family: 'Work Sans', sans-serif;
}

.post-contact-text {
  text-align: center;
  margin-top: 15px;
}

.label {
  margin-bottom: 0px;
}
textarea {
  background-color: white;
}
input {
  background-color: white;
}
button {
  background-color: silver;
}
/* 

button {
  background-color: #3C533B;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #F9F7F0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #002B44;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
